{% load static %}
<!DOCTYPE html>
<html lang="fa" class="wide wow-animation smoothscroll">
<head>
   <!-- Site Title-->
   <title>خانه</title>
   <meta name="format-detection" content="telephone=no">
   <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta charset="utf-8">
   <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
   <!-- Stylesheets-->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <meta name="theme-color" content="#ec5353" />
   <!--[if lt IE 10]>
   <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{% static 'images/warning_bar_0000_us.jpg' %}" border="0" height="42" width="820" alt="نسخه مرورگر شما قدیمی است! برای مرور بهتر و امن تر اینترنت مرورگر خود را به روز رسانی نمایید."></a></div>
   <script src="{% static 'js/html5shiv.min.js' %}"></script>
   <![endif]-->
</head>
<body>
   <div class="page-loader">
      <div class="page-loader-body">
         <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
         </div>
         <p>در حال بارگذاری ...</p>
      </div>
   </div>
   <!-- Page-->
   <div class="page text-center">
      <!-- Page Header-->
      <header class="page-head">
         <!-- RD Navbar-->
         <div class="rd-navbar-wrap rd-navbar-minimal">
            <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="100px" data-lg-stick-up-offset="100px" class="rd-navbar">
               <div class="shell shell-fluid">
                  <div class="rd-navbar-inner">
                     <!-- RD Navbar Panel-->
                     <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                        <!-- RD Navbar Brand--><a href="index.html" class="rd-navbar-brand brand">
                        <div class="brand-logo">
                           <img src="{% static 'images/logo-dark.png' %}">
                        </div></a>
                     </div>
                     <!-- RD Navbar Nav-->
                     <div class="rd-navbar-nav-wrap">
                        <!-- RD Navbar Nav-->
                        <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                           <li><a class="navbar-icon restaurant-icon-19">منو</a>
                              <!-- RD Navbar Dropdown-->
                              <ul class="rd-navbar-dropdown menu-img-wrap">
                                 <li class="menu-img"><a href="menu-single.html"><img src="{% static 'images/menu-food-01.png' %}" alt="" width="88" height="60"><span>پیتزا</span></a></li>
                                 <li class="menu-img"><a href="menu-single.html"><img src="{% static 'images/menu-food-02.png' %}" alt="" width="88" height="60"><span>همبرگر</span></a></li>
                                 <li class="menu-img"><a href="menu-single.html"><img src="{% static 'images/menu-food-03.png' %}" alt="" width="88" height="60"><span>نوشیدنی</span></a></li>
                                 <li class="menu-img"><a href="menu-single.html"><img src="{% static 'images/menu-food-04.png' %}" alt="" width="88" height="60"><span>سرخ کردنی</span></a></li>
                                 <li class="menu-img"><a href="menu-single.html"><img src="{% static 'images/menu-food-05.png' %}" alt="" width="88" height="60"><span>سالاد</span></a></li>
                                 <li class="menu-img"><a href="menu-single.html"><img src="{% static 'images/menu-food-06.png' %}" alt="" width="88" height="60"><span>دسر</span></a></li>
                              </ul>
                           </li>
                           <li><a class="navbar-icon thin-icon-tag">اخبار</a>
                              <ul class="rd-navbar-dropdown">
                                 <li><a href="blog-classic.html">بلاگ کلاسیک</a></li>
                                 <li><a href="blog-grid.html">بلاگ توری</a></li>
                                 <li><a href="blog-masonry.html">بلاگ کاشی</a></li>
                                 <li><a href="blog-modern.html">بلاگ مدرن</a></li>
                                 <li><a href="blog-post.html">مطلب بلاگ</a></li>
                              </ul>
                           </li>
                           <li><a href="contacts.html" class="navbar-icon thin-icon-map-marker">تماس</a></li>
                           <li><a class="navbar-icon thin-icon-layers">صفحات</a>
                              <!-- RD Navbar Megamenu-->
                              <ul class="rd-navbar-megamenu">
                                 <li>
                                    <h6 class="rd-megamenu-header">صفحات</h6>
                                    <ul class="list-marked">
                                       <li><a href="careers.html">فرصت های شغلی</a></li>
                                       <li><a href="faq.html">سوالات متداول</a></li>
                                       <li><a href="deals.html">معاملات</a></li>
                                       <li><a href="coming-soon.html">به زودی</a></li>
                                       <li><a href="404.html">صفحه 404</a></li>
                                       <li><a href="503.html">صفحه 503</a></li>
                                       <li><a href="search-results.html">نتایج جستجو</a></li>
                                       <li><a href="maintenance.html">صفحه در دست ساخت</a></li>
                                       <li><a href="privacy.html">قوانین و مقررات</a></li>
                                       <li><a href="member-profile.html">پروفایل کاربر</a></li>
                                       <li><a href="team.html">تیم ما</a></li>
                                       <li><a href="testimonials.html">دیدگاه مشتریان</a></li>
                                    </ul>
                                 </li>
                                 <li>
                                    <h6 class="rd-megamenu-header">صفحات دیگر</h6>
                                    <ul class="list-marked">
                                       <li><a href="typography.html">تایپوگرافی</a></li>
                                       <li><a href="buttons.html">دکمه ها</a></li>
                                       <li><a href="forms.html">فرم ها</a></li>
                                       <li><a href="icons.html">آیکن ها</a></li>
                                       <li><a href="grid.html">سایزبندی</a></li>
                                       <li><a href="tabs-and-accordions.html">تب و منوی باز شونده</a></li>
                                       <li><a href="progress-bars.html">نوارهای پیشرفت</a></li>
                                       <li><a href="tables.html">جداول</a></li>
                                       <li><a href="login-register.html">ورود/ثبت نام </a></li>
                                    </ul>
                                 </li>
                                 <li>
                                    <h6 class="rd-megamenu-header">طرح ها</h6>
                                    <ul class="list-marked">
                                       <li><a href="index.html">سرصفحه پیش فرض</a></li>
                                       <li><a href="index-corporate.html">سرصفحه شرکتی</a></li>
                                       <li><a href="index-sidebar.html">نوار کناری</a></li>
                                    </ul>
                                    <h6 class="rd-megamenu-header">منو</h6>
                                    <ul class="list-marked">
                                       <li><a href="menu-classic.html">منوی کلاسیک</a></li>
                                       <li><a href="menu-modern.html">منوی مدرن</a></li>
                                       <li><a href="menu-single.html">منوی تکی</a></li>
                                       <li><a href="shop-single.html">جزئیات غذا</a></li>
                                       <li><a href="shop-cart.html">صفحه سبد خرید</a></li>
                                    </ul>
                                 </li>
                                 <li>
                                    <h6 class="rd-megamenu-header">اضافی</h6>
                                    <ul class="list-marked">
                                       <li><a href="about.html">درباره ما</a></li>
                                    </ul>
                                    <h6 class="rd-megamenu-header">گالری</h6>
                                    <ul class="list-marked">
                                       <li><a href="gallery-grid.html">گالری توری</a></li>
                                       <li><a href="gallery-cobbles.html">گالری سنگ فرش</a></li>
                                       <li><a href="gallery-masonry.html">گالری کاشی</a></li>
                                       <li><a href="gallery-condensed.html">گالری توری بدون فاصله</a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                        </ul>

                        <!-- RD Navbar Shop-->
                        <ul class="rd-navbar-shop list-inline offset-top-5">
                           <li><a href="callto:#" class="unit unit-horizontal unit-middle unit-spacing-xxs link-default">
                              <div class="unit-left"><span class="icon icon-md icon-primary thin-icon-phone-call text-middle"></span></div>
                              <div class="unit-body">
                                 <address class="contact-info"><span class="text-bold big ltr_text">+98 912 345 67 89</span></address>
                              </div></a></li>
                           <li><a href="shop-cart.html" class="unit unit-horizontal unit-middle unit-spacing-xxs link-gray-light">
                              <div class="unit-left"><span class="icon icon-md icon-primary thin-icon-cart"></span></div>
                              <div class="unit-body"><span class="label-inline big">2</span></div></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </nav>
         </div>
      </header>